<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>youtubefinder</title>
  </head>
  <body>
    <%= htmlWebpackPlugin.options.cordova || '' %>
    <template id="main">
      <v-ons-page>
        <v-ons-toolbar>
          <v-ons-toolbar>
            <v-ons-if class="left" platform="android"></v-ons-if>
            <div class="center" style="width: 100%">
              <v-ons-if platform="android">Onsen UI Jukebox</v-ons-if>
              <v-ons-if platform="ios other">{{toolbarTitle}}</v-ons-if>
            </div>
            <v-ons-if class="right">
              <v-ons-toolbar-button @click="androidSearchModal(); setFocus();">
                <v-ons-icon icon="md-search"></v-ons-icon>
              </v-ons-toolbar-button>
            </v-ons-if>
          </v-ons-toolbar>
        </v-ons-toolbar>

        <v-ons-modal animation="fade" :visible="modalVisible" class="android-search-modal" @click="modalVisible = false">
          <v-ons-page>
            <v-ons-toolbar class="android-search-bar">
              <div class="left">
                <v-ons-toolbar-button>
                  <v-ons-icon style="color: #e52d27" icon="md-arrow-left" ></v-ons-icon>
                </v-ons-toolbar-button>
              </div>
              <label class="center">
                <form @submit.prevent.stop="search(true); modalVisible = false;">
                  <v-ons-input type="search" modifier="transparent" ref="search" placeholder="Search for videos in YouTube" v-model="query"></v-ons-input>
                </form>
              </label>
            </v-ons-toolbar>
            <div class="content"></div>
            <div class="background" style="background-color: transparent"></div>
          </v-ons-page>
        </v-ons-modal>

        <v-ons-page >

          <div class="content" v-infinite-scroll="loadMore">

            <v-ons-list>
              <v-ons-list-item tappable v-for="video in results" :key="video.id" @click="modal(video.id)">
                <div class="left">
                  <img class="list-item__thumbnail" :src="video.thumbnail">
                </div>
                <div class="center">
                  <span class="list-item__title">
                    <div class="title">
                      {{ video.title }}
                    </div>
                  </span>
                  <span class="list-item__subtitle">
                    <div class="user">
                      <v-ons-icon icon="fa-user"></v-ons-icon> &nbsp;&nbsp; <span style="font-size: 12px"> {{ video.author ? video.author : "Anonymous" }}</span>
                    </div>
                  </span>
                  <span class="list-item__subtitle">
                    <div class="desc">
                      {{ video.description }}
                    </div>
                  </span>
                </div>
              </v-ons-list-item>
            </v-ons-list>

            <p class="after-list loadingp">
              <span v-if="results.length === 0 && !loading">{{ labelSearch }}</span>
              <span v-if="loading"><v-ons-icon icon="fa-spinner" size="26px" spin></v-ons-icon></span>
            </p>
          </div>

          <v-ons-modal :visible="modal2Visible" @click="stop(); modal2Visible = false">
            <div id="player">
              <div id="placeholder" style="width: 100%">
                  <youtube :video-id="videoID" @ready="ready" @playing="playing" player-width="100%" player-height="250"></youtube>
              </div>
            </div>
          </v-ons-modal>
        </v-ons-page>
      </v-ons-page>
    </template>
    
    
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
